.hooks/repo-cfg.sh
tags
.DS_Store
.coverage
.tox*
.pytest.restart
*.cache
*.pid
*.ckt
*.nod
*.swp
*.o
*.png
*.ps
*.log
*.swo
*.rot
*.pyc
*.spell
*.json
.idea
.eggs
dist
ptrie.egg-info
ptrie/htmlcov
docs/_build
shippable/
vdisks/
build/
!data/requirements.json
!data/data_files.json
